.navbar {
  padding: 1.6rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--clr-light);
  z-index: 10;
}

.logo {
  font-family: var(--ff-light);
  font-size: 1rem;
  letter-spacing: 1px;
}

.navlist {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.2s ease-out;
  background-color: var(--clr-light);
  z-index: 20;
}

.shown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(0%);
  transition: transform 0.2s ease-out;
  background-color: var(--clr-light);
  z-index: 20;
}

.num {
  color: var(--clr-primary);
}

.link {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.links {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.links:hover {
  color: var(--clr-primary);
}

.hamburger {
  background: none;
  border: none;
  /* font-size: 1.3rem; */
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 9999;
}
