.testimonial {
  max-width: 31rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 30% 1fr;
  /* gap: 1rem; */
  grid-template-areas:
    'img title'
    'content content';
}

.img {
  grid-area: img;
}

.title {
  grid-area: title;
  position: relative;
  padding-left: 2rem;
}

.title::before {
  content: 'â€';
  font-family: var(--ff-regular);
  position: absolute;
  top: 0;
  left: -1rem;
  /* margin-right: 0.4rem; */
  font-size: 9rem;
  line-height: 0;
  transform: scale(-1, -1);
  color: var(--clr-primary);
}
.content {
  grid-area: content;
}

.text {
  max-width: 64ch;
  margin: 1rem 0;
}
.text:first-child {
  margin-bottom: 2rem;
}

.info {
  position: relative;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.info > span:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0.7rem;
  transform: translateX(0.5rem);
  width: 1rem;
  height: 1px;
  background-color: var(--clr-dark);
}
